 <div class="jumbotron" style="text-align: left; border-style: solid; border-color: #800020">
  <div style="margin-left: 30px">
  <h1 style="color:#800020">Wine Me Down <i class="fas fa-wine-glass-alt"></i>
</h1>
  </div>
</div>

<div class="panel-heading">
<div class="panel">
<h2 class="display2">Let's Pair Your Meal With Some Wine</h2>
<div class="panel">
<%= form_with url: index_path, local: true do |form| %>
<h3>It is important to start with your protein. Choose from the options below.</h3>
<div class="form-group">
  <%= form.select :protein, @proteins.collect { |p| [ p.name, p.id ]}, {include_blank: "Please select a protein" } %>
</div>

<div class="form-group">
  <%= form.select :sauce, @sauces.collect { |s| [ s.name, s.id ]}, {include_blank: "Please select a sauce" } %>
</div>

  <%= form.submit "What's my wine?" %>
<% end %>
</div>
</div>

<div class="panel" style="border-style: solid; border-color: #800020">
<% if @protein != nil && @sauce !=nil %>
	<% if @protein == "Chicken" && @sauce == "Tomate" || @protein == "Chicken" && @sauce == "Espagnole" || @protein == "Beef" && @sauce =="Espagnole" || @protein == "Duck" && @sauce == "Espagnole" || @protein == "Duck" && @sauce == "Bechamel" %>
		<div class="container">
		<h2><%= @wines[0].varietal %></h2> <br/>
		<%= @wines[0].about %><br/>
		<%= @wines[0].image %>
		</div>
		<% elsif @protein == "Chicken" && @sauce == "Bechamel" || @protein == "Chicken" && @sauce == "Veloute" ||  @protein == "Beef" && @sauce == "Bechamel" ||  @protein == "Duck" && @sauce == "Veloute" ||  @protein == "Veggie" && @sauce == "Veloute" %>
		<div class="container">
		<h2><%= @wines[1].varietal %></h2> <br/>
		<%= @wines[1].about %><br/>
		<%= @wines[1].image %>
		</div>
		<% elsif @protein == "Chicken" && @sauce == "Hollandaise" || @protein == "Beef" && @sauce == "Hollandaise" || @protein == "Duck" && @sauce == "Hollandaise" || @protein == "Veggie" && @sauce == "Hollandaise" || @protein == "Veggie" && @sauce == "Bechamel" %>
		<div class="container">
		<h2><%= @wines[2].varietal %></h2> <br/>
		<%= @wines[2].about %><br/>
		<%= @wines[2].image %>
		</div>
	<% end %>
<% end %>
</div>
</div>
</div>