<h1>Tell Me About Your Meal</h1>

<%= form_with url: index_path, local: true do |form| %>

<div class="form-group">
  <%= form.select :protein, @proteins.collect { |p| [ p.name, p.id ]}, {include_blank: "Please select a protein" } %>
</div>

<div class="form-group">
  <%= form.select :sauce, @sauces.collect { |s| [ s.name, s.id ]}, {include_blank: "Please select a sauce" } %>
</div>

  <%= form.submit "What's my wine?" %>
<% end %>

<% if @protein != nil && @sauce !=nil %>

	<% if @protein == "Chicken" && @sauce == "Bechamel" %>
		<%= @wines[0].varietal %>
	<% end %>
<% end %>

