<p id="notice"><%= notice %></p>

<p>
  <strong>Varietal:</strong>
  <%= @wine.varietal %>
</p>

<p>
  <strong>About:</strong>
  <%= @wine.about %>
</p>

<p><%= image_tag @wine.image.url %></p>


<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
