<!DOCTYPE html>
<html>
  <head>
    <title>WineMeDown4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <!--  <div class="jumbotron" style="text-align: left; border-style: solid; border-color: #800020">
  <div style="margin-left: 30px">
  <h1 style="color:#800020">Wine Me Down <i class="fas fa-wine-glass-alt"></i>
</h1>
  </div> -->
  
<!--   <p></p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> 
</div>-->

    <%= yield %>
  </body>
</html>
